{% extends 'flatpages/default.html' %}


{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h1 class="title">Все новости</h1>
    <form class="search_form" method="GET">
        {{ filters.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <input type="submit" value="Найти">
    </form>
    <br>
       <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Время публикации
                </td>
            </tr>
        {% for article in filters.qs %}
            <tr>
                <td>
                    <a class="table_link" href="{% url 'article' article.id %}">{{ article.name|title }}</a>
                    <a class="table_link"  href="{% url 'article_update' article.id %}"><u>Редактировать</u></a>
                    <a class="table_link" href="{% url 'article_delete' article.id %}"><u> Удалить </u></a>
                </td>
                <td>
                    {{ article.post_text|truncatechars:50}}
                </td>
                <td>
                    {{ article.post_datetime}}
                </td>
            </tr>
        {% endfor %}
        </table>

    <a class="add_article" href="{% url 'article_create' %}">Добавить статью</a> <br>

    <div class="pagination" style="padding-top: 50px" >
    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">>>></a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><<<</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}
{% endif %}
    </div>
{% endblock content %}